<h2>Live Exchange Rates</h2>
<div class="row">
  <div class="col-md-6">
    <input type="text" *ngIf="config.filtering" placeholder="Choose Your Base Currency"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<br>
<ng-table id="table" [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
